.exam-details-container {
  background-color: #0d1117;
  color: #ffffff; 
  padding: 60px 8rem; 
  font-family: Arial, sans-serif;
}

.exam-details-container h1 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.exam-details-content {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  justify-content: center;
  margin-left: -230px;
}

.video-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

.video-container iframe {
  width: 100%;
  height: auto; 
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin-left: 0;
}

.detail-box:hover {
  background-color: #CFA935; 
  transition: background-color 1s ease-in-out;
}

.detail-box {
  background-color: #21262d;
  padding: 1rem;
  text-align: center;
}

.detail-box span {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

/* Mobile styles */
@media (max-width: 600px) {
  .exam-details-container {
      padding: 20px;
  }

  .exam-details-container h1 {
      font-size: 1.5rem;
      text-align: center;
  }

  .exam-details-content {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
  }

  .video-container iframe {
      height: 200px;
  }

  .details-grid {
      grid-template-columns: 1fr;
      width: 100%;
  }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .exam-details-container {
      padding-left: 5rem;
      padding-right: 5rem;
  }

  .exam-details-container h1 {
      font-size: 1.75rem;
  }

  .exam-details-content {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
  }

  .video-container iframe {
      height: 245px;
  }

  .details-grid {
      grid-template-columns: 1fr;
      width: 100%;
  }
}

/* PC styles */
@media (min-width: 1025px) {
  .exam-details-container {
      padding-left: 10rem;
      padding-right: 8rem;
  }

  .exam-details-container h1 {
      font-size: 2rem;
  }

  .exam-details-content {
      flex-direction: row;
      justify-content: center;
      margin-left: -230px;
  }

  .video-container iframe {
      width: 60%;
      height: 255px;
  }

  .details-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      width: 35%;
      height: 255px;
      margin-left: -56px;
  }
}
