.footer {
    background-color: #000;
    color: #fff;
    padding-left: 40px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #333; /* This line adds the horizontal line */
    padding-bottom: 3rem;
  }
  
  .footer-section {
    padding-top: 3rem;
    flex: 1;
    margin: 10px;
    text-align: left;
  }
  
  .footer-logo {
    width: 150px;
  }
  
  .footer-description {
    margin: 10px 0;
  }
  
  .newsletter-section input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;
    background: transparent;
    padding: 0.5rem;
    margin-right: 7rem;
    padding-right: 11rem;
    border-bottom: 1px solid wheat;
  }


  
  .newsletter-section button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: wheat;
    margin-left: -151px;
    border-radius: 5px;
    cursor: pointer;
  }

  .newsletter-form{
    display: flex;
    align-items: center;
  }
  .newsletter-form .icn{
    margin-left: 1px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    align-content:space-evenly;
    text-align: left;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
  }

  .footer-bottom img{
    margin-left: 42rem;
    margin-top: -15rem;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin: 20px 0;
    }
  }

  @media (max-width: 480px) {
    .footer-bottom img{
      display: none;
    }
    
    .footer-section{
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  @media (max-width: 880px) {
    .footer-bottom img{
      display: none;
    }
  }
  