.slider-container {
    padding: 150px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.slider-container h1 {
    margin-top: -2rem;
    margin-bottom: 4rem;
    letter-spacing: 3px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #1c1c1e;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    height: 270px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.card:hover,
.card:hover p,
.card:hover h3,
.card:hover .logo {
    background: #CFA935; 
    color: #ffffff;
}

.logo {
    height: 30px;
    width: 30px;
    color: #CFA935;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff; 
}

.card p {
    font-size: 1em;
    line-height: 1.5;
    color: #A9A7B0; 
}

/* Responsive Styles */

@media (max-width: 1024px) {
    .card {
        max-width: 400px;
    }
}

/* For screens up to 768px (tablet) */
@media (max-width: 768px) {
    .slider-container {
        padding: 100px;
    }

    .card {
        max-width: 90%;
    }
}

/* For screens up to 480px (mobile) */
@media (max-width: 480px) {
    .slider-container {
        padding: 50px;
    }
}
